body {
    background-image: url("https://wallpapercave.com/wp/wp1931673.jpg");
    border: 2px solid rgb(197, 187, 187);
    padding: 160px;
    background-repeat: no-repeat;
    background-size: 2000px 1000px;
    background-position:left bottom;
}

.right {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  }

.div{
    background-color:red;
    width:100px;
    border:15px solid red;
    padding:70px;
   margin:20px;
  }

input[type="submit"] {
  margin-top: 50px;
  cursor: pointer;
  font-size: 20px;
  background: #01d28e;
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 10px;

}
